head
  meta(charset="utf-8")
  title= head_title || title
  meta(name="author" content="Zilin Jiang")
  if revealjs_version < "4.0.0"
    link(rel="stylesheet" href=`../reveal.js-${revealjs_version}/css/reveal.css`)
    link(rel="stylesheet" href=`../reveal.js-${revealjs_version}/css/theme/${revealjs_theme}.css`)
  else
    link(rel="stylesheet" href=`../reveal.js-${revealjs_version}/dist/reset.css`)
    link(rel="stylesheet" href=`../reveal.js-${revealjs_version}/dist/reveal.css`)
    link(rel="stylesheet" href=`../reveal.js-${revealjs_version}/dist/theme/${revealjs_theme}.css` id="theme")
  link(rel="stylesheet" href="custom.css")
